doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title Added to #{group.name}
    body
      You have been added to the group "#{group.name}".