doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title Wachtwoord reset
    body
      p.
        Je hebt een wachtwoord reset aangevraagd. Klik op onderstaande link om een nieuw wachtwoord in te stellen.
      a(href=clientUrl + '/forgot-password/' + user.email + '/' +user.passwordResetToken)
        Klik hier
